---
import {getCollection, type CollectionEntry} from  "astro:content";
import Layout from "../../layouts/Layout.astro"
import type { GetStaticPaths } from "astro";
export const getStaticPaths = async () => {
    const posts = await getCollection("posts");


    const paths = posts.map( post => {
        return {
            params: {
                slug: post.slug
            },
            props: {
                post
            }
        }
    })

    return paths
}

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props;
const {Content} = await post.render()

---


<Layout title={`Hill | ${post.data.title}`} >
    <main>
        <header>
            <h1>{post.data.title}</h1>
            <p>{post.data.publishDate}</h1>
        </header>
        <section class="post-content">
            <Content />
        </section>
    </main>
        <style>
            h1,h2,h3{
                font-family: var(--gopher);
                color: var(--primary-text);
            }

            p{
                font-family: var(--gotham);
                color: var(--primary-text);
            }

            a{
                font-family: var(--gopher);
                color: var(--base);
            }

            .post-content{
                with: 100%;
                padding: 15px;
                display: grid;
                place-items: center;
            }
        </style>
</Layout>