---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";

import Post from "../../components/Post.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths (){
    const allPosts = await getCollection('posts')
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => {
            post.data.tags.includes(tag)
        })
        return {
            params: {tag},
            props: {posts: filteredPosts},
        }
    });
};

const {tag} = Astro.params;
const {posts} = Astro.props;
---


<Layout title={tag} >
    <h3>Posts tagged with {tag}</h3>
    <ul>
        {
            posts.map((post) => (
                <Post post={post} />
            ))
        }
    </ul>
</Layout>