---
import { getEntryBySlug, type CollectionEntry } from "astro:content";

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props
---


<article class="post">
    <a href={`/blog/${post.slug}`}>
        <h2>{post.data.title}</h2>
        <p>{post.data.publishDate}</p>
        <p>{post.data.description}</p>
    </a>
</article>

<style>
    .post{
        width: 300px;
        height: 300px;
        border: 2px solid var(--base);
        border-radius: 8px;
        display: grid;
        place-items: center;
        background-color: var(--base);

        a{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;;
            row-gap: 15px;

        }
        h2{
            font-family: var(--gopher);
            font-size: 1.2rem;
            color: var(--primary-text);
            /* text-align: left; */
            inline-size: 200px;
        }
        p{
            font-size: .7rem;
            font-family: var(--gotham);
            color: var(--primary-text);
            inline-size: 200px;
            text-align: left;
        }
    }
</style>