---
import { getEntryBySlug, type CollectionEntry } from "astro:content";
import {Image} from "astro:assets"

const {frontmatter, tagType} = Astro.props

const Tag = tagType

const {title, summary, image, tech, siteUrl, repoUrl} = frontmatter
---


<article class="bg-gray-900 dark:bg-blue/50 text-gray-100 shadow-lg shadow-gray-700 flex flex-col justify-evenly gap-8 items-center w-80 md:w-auto p-2 md:p-4 rounded-md">
    <div class="flex flex-col items-center justify-between md:justify-around w-full flex-wrap gap-y-4" >
        <Image 
        src={image} 
        width="300"
        height="70"
        alt={title}
        quality="80"
        loading="lazy"
        class="rounded-md"
        />
        <h2 class="font-gopher text-lg">{title}</h2>
        <p class="post-summary w-min min-w-44">{summary}</p>
        <ul class="w -full p-2 flex gap-x-4 flex-wrap">{tech.map( t => {
            return(
                <li class="text-blue dark:text-gray-200 font-gopher text-sm">
                    {t}
                </li>
            )
        })}</ul>
        <ul class="w-full flex flex-row justify-evenly items-center p-2 font-gopher">
            <li><a class="text-red/50 hover:text-red/80" href={siteUrl}>site</a></li>
            <li><a class="text-red/50 hover:text-red/80" href={repoUrl}>github</a></li>
        </ul>
    </div>
</article>

<style>
    
</style>