tn---
import { getEntryBySlug, type CollectionEntry } from "astro:content";
import {Image} from "astro:assets"
type Props = {
    project: CollectionEntry<"projects">
}

const {project} = Astro.props
---


<article class="project">
    <a href={`/projects/${project.slug}`}>
        <h2 class="post-title">{project.data.title}</h2>
        <p class="post-summary">{project.data.summary}</p>
        <nav>{project.data.tech.map( t => {
            return(
                <p class="tech-items">
                    {t}
                </p>
            )
        })}</nav>
    </a>
</article>

<style>
    .project{
        width: 400px;
        height: auto;
        padding: 15px;
        display: grid;
        place-items: center;
        border: 2px solid var(--base);
        border-radius: 8px;
        background-color: var(--base);

        a{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
            row-gap: 40px;

            h2.post-title{
                font-size: 1.2rem;
                font-family: var(--gopher);
                color: var(--primary-text);
            }

            p.post-summary{
                font-size: .8rem;
                font-family: var(--gotham);
                color: var(--primary-text);
                inline-size: 300px;
            }

            nav{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                width: 100%;
            }
        }

        .tech-items{
            font-family: var(--gotham);
            color: var(--primary-text);
            font-size: .7rem;
            text-transform: capitalize;
        }
    }
</style>