---
import { getEntryBySlug, type CollectionEntry } from "astro:content";
import {Image} from "astro:assets"


type Props = {
    project: CollectionEntry<"projects">
}

const {project} = Astro.props
---


<article class="border border-black flex flex-col justify-evenly gap-8 items-center w-200 p-2 rounded-md">
    <a class="flex flex-col items-center justify-between w-full flex-wrap" href={`/projects/${project.slug}`}>
        <Image 
        src={`${project.data.image}`} 
        width="300"
        height="70"
        alt={`${project.data.title}`}
        quality="80"
        loading="lazy"
        class="rounded-md"
        />
        <h2 class="font-gopher text-lg">{project.data.title}</h2>
        <p class="post-summary line-clamp-1 hover:line-clamp-none w-44">{project.data.summary}</p>
        <ul class="w -full p-2 flex gap-x-4 flex-wrap">{project.data.tech.map( t => {
            return(
                <li class=" font-gopher text-sm">
                    {t}
                </li>
            )
        })}</ul>
    </a>
</article>

<style>
    
</style>